*.log
*.txt
saved_models/
sandbox_loss.py
tensorboard_plot.py
sandbox_models.py
sandbox_transforms.py
Experiment_logs/
configs/local_default.yaml
models/__pycache__/
tasks/__pycache__/
utils/__pycache__/
.vscode
logs/*
*pyc